{{!-- <html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>FullyStocked</title>
    <link
      href="https://fonts.googleapis.com/css?family=IBM+Plex+Sans:400,400i,700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/public/stylesheets/style.css" />
  </head>

  <body>
    <div class="wrapper">
      <header>
        <h1>
          <a href="/">FullyStocked</a>
        </h1>
      </header>
      <main>
        {{{body}}}
      </main>
      <footer>
        Thanks for visiting!
      </footer>
    </div>

  </body>

</html> --}}

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/css?family=IBM+Plex+Sans:400,400i,700&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/4.1.3/flatly/bootstrap.min.css"
    />
    <link
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>FullyStocked</title>
  </head>
  <body class="flex-column min-100-vh">
    <header class="hero">
      <nav class="nav">
        <ul>
          <li>
            <a href="/">Home</a>
          </li>
          {{#if loggedIn}}
            <li>
              <a href="/dashboard">Dashboard</a>
            </li>
            <button id="logout" class="btn-no-style">Logout</button>
          {{else}}
            <li>
              <a href="/login">Login</a>
            </li>
          {{/if}}
        </ul>
      </nav>
      <h1 class="app-title"> <fieldset>FullyStocked</fieldset></h1>
    </header>

    <main>
      {{{body}}}
    </main>

    {{#if loggedIn}}
      <script src="/javascript/logout.js"></script>
    {{/if}}
  </body>
</html>