<html>
  <head>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    />
    <link href="/stylesheets/style.css" rel="stylesheet" />
    <script src="/javascript/index.js"></script>
  </head>
  <body class="flex-column min-100-vh">
    <header class="hero"></header>
    <div
      id="forecast"
      class="row justify-content-center p-3 mb-2 bg-secondary text-white"
    >
      <h1>FULLYSTOCK</h1>
    </div>

    {{body}}
  </body>
</html>