<section>
  <h2>Create New Item</h2>

  <form class="new-post-form">
    <div>
      <label for="post-title">item</label>
      <input type="text" name="item" id="itemtype"/>
    </div>
    <div>
      <label for="post-url">tag</label>
      <input id="" name="tag" />
    </div>
    <button type="submit" class="btn">Create</button>
  </form>
</section>




